.event {
  width: 100%;
  height: calc(100vh - 40px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-synthesis: none;
  color: white;
}

.file-input-label {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: white;
  background-color: #646cff;
  cursor: pointer;
  width: 200px;
  height: 40px;
  line-height: 1rem;

}

/* Hide the actual file input */
input[type="file"] {
  display: none;
}

.outerbar {
  margin: 16px;
}

.innerbar {
  background-color: #646cff;
}

.event img {
  width: 50%;
}

.footer {
  position: absolute;
  bottom: 0;
  color: white;
}

.footer a {
  color: white;
}

.event button {
  background-color: #646cff;
  width: 200px;
}
