.navbar {
  background-color: #646cff;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between; /* Changed from 'start' to 'space-between' */
  align-items: center; /* Align items to center */
  height: 64px; /* Changed height to 64px for better visibility */
}

.menu {
  display: none;
  position: absolute;
  top: 64px; /* Changed from 40px to 64px to match navbar height */
  left: 0;
  background-color: #646cff;
  width: 100%;
  z-index: 1000;
  padding: 10px 0;
}

.menu.show {
  display: block;
}

.hamburger-menu {
  display: flex;
  flex-direction: column; /* Changed from 'row' to 'column' */
  cursor: pointer;
}

.menu h2 {
  margin: 0;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin-bottom: 10px;
}

.menu a,
.menu button {
  color: #fff;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 5px;
}

.menu a:hover,
.menu button:hover {
  background-color: #646cff;
}

.hamburger-menu .line {
  width: 24px;
  height: 4px;
  background-color: #fff;
  margin: 2px 0;
}
